
.container {

    display:flex;
    justify-content: space-between;
    align-items: center;
    margin: 15px 0;
    padding: 10px;
}

.style {

    background-image: linear-gradient(to right, #24A681, #24A645 );
    padding: 1px;
    margin-bottom: 2%;
    height: 128px;
}

.logo {

    width: 100px;
    height: 80px;
    -webkit-filter: drop-shadow(5px 5px 5px #222);
    filter: drop-shadow(5px 5px 5px #222);
}
